In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
# Versões dos pacotes usadas neste Jupyter Notebook
!python --version
# %reload_ext watermark
# %watermark -a "Mentoria DSA" --iversions

Python 3.7.6

In [3]:
# Carregamento do dataset
df = pd.read_csv("../../../../properati-BR-2016-11-01-properties-sell.csv")

In [4]:
df.head()

,created_on,operation,property_type,place_name,place_with_parent_names,geonames_id,lat-lon,lat,lon,price,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,2013-04-25,sell,apartment,Mondubim,|Brasil|Ceará|Fortaleza|Mondubim|,NaN,NaN,NaN,NaN,155900.0,...,NaN,NaN,NaN,NaN,2.0,NaN,http://mondubim.properati.com.br/px9_vende-se_...,"Otimo Imovel com o melhor valor da regiao, con...",Apartamento Em Fortaleza,https://thumbs-cf.properati.com/8/EY670SQWML7c...
1,2013-04-25,sell,house,Manhuaçu,|Brasil|Minas Gerais|Manhuaçu|,NaN,NaN,NaN,NaN,950000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,http://manhuacu.properati.com.br/pxv_vende-se_...,"Otimo Imovel com o melhor valor da regiao, con...",Casa Em Manhuacu,https://thumbs-cf.properati.com/1/1VGQees9LIbx...
2,2013-04-25,sell,house,Ibatiba,|Brasil|Espírito Santo|Ibatiba|,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://ibatiba.properati.com.br/pxw_vende-se_o...,"Otimo Imovel com o melhor valor da regiao, con...",Sítio Em Ibatiba,NaN
3,2013-04-25,sell,apartment,Manhuaçu,|Brasil|Minas Gerais|Manhuaçu|,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://manhuacu.properati.com.br/pxy_vende-se_...,"Otimo Imovel com o melhor valor da regiao, con...",Apartamento Em Manhuacu,NaN
4,2013-04-25,sell,apartment,Manhuaçu,|Brasil|Minas Gerais|Manhuaçu|,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://manhuacu.properati.com.br/pxz_vende-se_...,"Otimo Imovel com o melhor valor da regiao, con...",Apartamento Em Manhuacu,https://thumbs-cf.properati.com/2/UhPHI8dsNCb4...

In [5]:
# Dimensão do dataset
df.shape

(872672, 24)

In [ ]:
# Os tipos dos atributos
df.dtypes

In [6]:
# número total de valores missing
missing_values = list(df.isnull().sum())


# nome das colunas
attributes = list(df.columns)

# novas colunas
columns = ["variable", "MissingValues"]

In [7]:
# criação de dataframe para identificar a porcentagem de valor missing de atributo
df_percentage = pd.DataFrame(list(zip(attributes, missing_values)),
                            columns=columns)

#criação da coluna porcentagem
df_percentage['percentage'] = (df_percentage['MissingValues']/df.shape[0])*100

In [8]:
df_percentage

                      variable  MissingValues  percentage
0                   created_on              0    0.000000
1                    operation              0    0.000000
2                property_type              0    0.000000
3                   place_name              0    0.000000
4      place_with_parent_names              0    0.000000
5                  geonames_id         872532   99.983957
6                      lat-lon         485445   55.627429
7                          lat         485445   55.627429
8                          lon         485445   55.627429
9                        price          53271    6.104355
10                    currency          53290    6.106533
11  price_aprox_local_currency          53271    6.104355
12             price_aprox_usd          53271    6.104355
13         surface_total_in_m2         655738   75.141405
14       surface_covered_in_m2         239432   27.436654
15            price_usd_per_m2         283491   32.485401
16                price_per_m2         283491   32.485401
17                       floor         821878   94.179486
18                       rooms         330926   37.921006
19                    expenses         639354   73.263953
20               properati_url              0    0.000000
21                 description              0    0.000000
22                       title              0    0.000000
23             image_thumbnail          38665    4.430645

In [9]:
# valores missing total de cada atributo
df.isnull().sum()

created_on                         0
operation                          0
property_type                      0
place_name                         0
place_with_parent_names            0
geonames_id                   872532
lat-lon                       485445
lat                           485445
lon                           485445
price                          53271
currency                       53290
price_aprox_local_currency     53271
price_aprox_usd                53271
surface_total_in_m2           655738
surface_covered_in_m2         239432
price_usd_per_m2              283491
price_per_m2                  283491
floor                         821878
rooms                         330926
expenses                      639354
properati_url                      0
description                        0
title                              0
image_thumbnail                38665
dtype: int64

In [10]:
# separar o endereço em três colunas
df_adress = df['place_with_parent_names'].str.split('|', n=5 , expand=True)

# renomear as novas colunas
df_adress = df_adress.rename(columns={1: "Pais", 2: "Estado", 3: "Cidade", 4: "Bairro"})

# remoção das colunas criadas 0, 5 (criadas para auxiliar na separação das colunas)
del df_adress[0]
del df_adress[5]

In [11]:
# criação do novo dataset
new_df = pd.concat([df, df_adress], axis=1)

In [12]:
df_percentage[df_percentage['percentage']>50]

               variable  MissingValues  percentage
5           geonames_id         872532   99.983957
6               lat-lon         485445   55.627429
7                   lat         485445   55.627429
8                   lon         485445   55.627429
13  surface_total_in_m2         655738   75.141405
17                floor         821878   94.179486
19             expenses         639354   73.263953

In [13]:
# Remoção de colunas insignificantes
del new_df['geonames_id']
del new_df['lat-lon']
del new_df['lat']
del new_df['lon']
del new_df['floor']
del new_df['surface_total_in_m2']
del new_df['expenses']
del new_df['image_thumbnail']
del new_df['title']
del new_df['properati_url']
del new_df['description']
del new_df['operation']
del new_df['place_with_parent_names']

In [14]:
for i in new_df:
    print(new_df[i].value_counts())
    print('\n')

2015-04-09    28963
2016-06-15    19658
2016-06-08    17450
2016-06-16    13438
2016-02-19    12658
              ...
2013-07-09        1
2013-12-08        1
2013-12-29        1
2013-10-16        1
2013-11-28        1
Name: created_on, Length: 1043, dtype: int64


apartment    567135
house        270704
store         27397
PH             7436
Name: property_type, dtype: int64


Praia Grande                               53076
Porto Alegre                               41119
Centro                                     26773
Santo André                                22933
São Paulo                                  15736
                                           ...
Jardim Domingos de Léo                         1
Lutécia                                        1
Rolândia                                       1
Conjunto Residencial Vale dos Pinheiros        1
Jardim Coqueiro                                1
Name: place_name, Length: 5225, dtype: int64


350000.0     14398
450000.0     13947
550000.0     11825
650000.0     11714
320000.0     11506
             ...
1242300.0        1
1242344.0        1
1242400.0        1
310619.0         1
1081298.0        1
Name: price, Length: 31139, dtype: int64


BRL    818952
USD       234
MXN       196
Name: currency, dtype: int64


349344.66     12104
449157.45     11756
548970.21      9979
648782.97      9776
319400.84      9616
              ...
527731.06         1
363084.88         1
1023388.29        1
1023380.29        1
1338478.22        1
Name: price_aprox_local_currency, Length: 38535, dtype: int64


109217.99    12104
140423.14    11756
171628.28     9979
202833.42     9776
99856.45      9616
             ...
266141.79        1
10379.23         1
264285.71        1
310715.23        1
174368.40        1
Name: price_aprox_usd, Length: 38535, dtype: int64


70.0      14756
60.0      12940
50.0      12123
80.0      11574
100.0     10828
          ...
4444.0        1
1109.0        1
3960.0        1
4419.0        1
4123.0        1
Name: surface_covered_in_m2, Length: 1916, dtype: int64


1560.257000    1029
1248.205700     703
1404.231400     692
1497.846800     612
1248.205667     562
               ...
1402.622887       1
1122.042791       1
3638.062927       1
3050.302600       1
2059.012804       1
Name: price_usd_per_m2, Length: 139474, dtype: int64


5000.000000     6877
4000.000000     4289
10000.000000    3235
3333.333333     2989
3000.000000     2738
                ...
11701.980198       1
701.754386         1
3776.666667        1
14147.545455       1
4367.338462        1
Name: price_per_m2, Length: 79923, dtype: int64


1.0     221926
2.0     165954
3.0     101426
4.0      29104
5.0       6133
6.0       3555
8.0       2563
7.0       2479
10.0      2007
9.0       1647
12.0      1352
11.0       912
14.0       576
15.0       547
13.0       536
16.0       262
18.0       192
20.0       156
17.0       124
19.0        57
21.0        53
22.0        48
25.0        31
30.0        28
23.0        20
24.0        19
27.0        11
33.0         8
28.0         4
36.0         4
26.0         3
32.0         3
35.0         2
31.0         2
29.0         1
34.0         1
Name: rooms, dtype: int64


Brasil            872532
Estados Unidos       140
Name: Pais, dtype: int64


São Paulo              611998
Rio Grande do Sul       88342
Rio de Janeiro          58567
Minas Gerais            27063
Santa Catarina          26328
Paraná                  16228
Ceará                    8427
Bahia                    8225
Espírito Santo           6208
Paraíba                  4310
Rio Grande do Norte      3609
Distrito Federal         2767
Goiás                    2274
Pernambuco               2162
Mato Grosso              1786
Pará                     1158
Alagoas                   608
Maranhão                  557
Sergipe                   488
Amazonas                  413
Tocantins                 282
Mato Grosso do Sul        266
Rondônia                  158
Piauí                     158
Miami                     140
Amapá                     132
Acre                       15
Roraima                     3
Name: Estado, dtype: int64


São Paulo         296357
Porto Alegre       62916
Praia Grande       53370
Rio de Janeiro     40366
Santo André        31959
                   ...
Biritiba-Mirim         1
Mercês                 1
Porto Real             1
Contenda               1
Ouro Branco            1
Name: Cidade, Length: 1130, dtype: int64


                               292854
Centro                          26773
Morumbi                         10149
Campo Belo                       9474
Moema                            9293
                                ...
Parque Valença II                   1
Setor Empresarial                   1
Jesus de Nazareth                   1
Jardim Aloha                        1
Jardim Village Saint Claire         1
Name: Bairro, Length: 4234, dtype: int64

In [15]:
new_df.shape

(872672, 15)

In [16]:
# Remoção de registros com moedas e paises estrangeiros
new_df = new_df[new_df['Pais'] != 'Estados Unidos']
new_df = new_df[new_df.currency == "BRL"]

In [17]:
# Com os registros de informações estrangeiras removidas, pode-se remover a coluna currency e país, uma
# vez que será um valor único para todo o dataset.
del new_df['currency']
del new_df['Pais']

In [18]:
new_df.shape

(818828, 13)

In [19]:
# Studying of Bairros - missing values
new_df['Bairro'].isnull().sum()

3165

In [20]:
# there are 265711 registers without Bairro + 3733 NaN = 296587 Bairro missing values.
new_df['Bairro'].value_counts()

                    265711
Centro               25583
Morumbi               9396
Campo Belo            8859
Moema                 8461
                     ...
Jardim Prados            1
Sabaúna                  1
Jardim Horizonte         1
Cuiabá                   1
Balneária                1
Name: Bairro, Length: 4221, dtype: int64

In [21]:
# Vale a pena trabalhar com o atributo Bairros, uma vez que 33% do dataset esta com valores em branco ou missing?
(265711 + 3733)/new_df.shape[0]*100

32.90605597268291

In [22]:
# Vale mais a pena remover a coluna Bairro do que eliminar todos os registros em branco ou nulos, 
# uma vez que vamos trabalhar apenas com preços por município
del new_df['Bairro']

In [23]:
# Eliminação das 2 colunas  price_usd_per_m2, price_per_m2, uma vez que calcularemos o preço por m2 mais adiante no estudo.
# Eliminação da coluna rooms pelo alto número de registros nulos também pode ser eliminada.
del new_df['price_usd_per_m2']
del new_df['price_per_m2']
del new_df['rooms']

In [24]:
new_df.shape

(818828, 9)

In [25]:
new_df.head()

,created_on,property_type,place_name,price,price_aprox_local_currency,price_aprox_usd,surface_covered_in_m2,Estado,Cidade
0,2013-04-25,apartment,Mondubim,155900.0,155608.08,48648.81,NaN,Ceará,Fortaleza
1,2013-04-25,house,Manhuaçu,950000.0,948221.29,296448.85,NaN,Minas Gerais,Manhuaçu
6,2013-04-25,store,Manhuaçu,1200000.0,1197753.22,374461.71,NaN,Minas Gerais,Manhuaçu
7,2013-04-25,apartment,Manhuaçu,95000.0,94822.11,29644.88,NaN,Minas Gerais,Manhuaçu
8,2013-04-25,store,Manhuaçu,1200000.0,1197753.22,374461.71,NaN,Minas Gerais,Manhuaçu

In [26]:
# valores missing total de cada atributo
new_df.isnull().sum()

created_on                         0
property_type                      0
place_name                         0
price                              0
price_aprox_local_currency         0
price_aprox_usd                    0
surface_covered_in_m2         221768
Estado                             0
Cidade                             0
dtype: int64

In [27]:
new_df.shape

(818828, 9)

## Estudo com a remoção de todos os possíveis valores NaN

In [28]:
# Eliminado todos os valores missing do Dataset 
df_nan = new_df.dropna()   # dropna apaga registros com algum atributo nulo

In [29]:
#  JÁ ELIMINAMOS A COLUNA BAIRRO não precisa mais eliminar os registros em branco de Bairro
# df_nan = df_nan[df_nan.Bairro != '']

In [30]:
# Dimensão do Dataset
df_nan.shape

(597060, 9)

In [31]:
# valores missing total de cada atributo
df_nan.isnull().sum()

created_on                    0
property_type                 0
place_name                    0
price                         0
price_aprox_local_currency    0
price_aprox_usd               0
surface_covered_in_m2         0
Estado                        0
Cidade                        0
dtype: int64

In [32]:
df_nan['Estado'].value_counts()

São Paulo              435457
Rio Grande do Sul       49405
Rio de Janeiro          40261
Minas Gerais            21865
Santa Catarina          14000
Paraná                  10633
Bahia                    5269
Ceará                    4904
Paraíba                  3551
Espírito Santo           2886
Distrito Federal         1872
Rio Grande do Norte      1543
Goiás                    1256
Pernambuco               1245
Pará                      967
Mato Grosso               553
Maranhão                  400
Sergipe                   271
Alagoas                   179
Tocantins                 179
Piauí                     149
Mato Grosso do Sul        142
Rondônia                   38
Amazonas                   26
Amapá                       6
Acre                        3
Name: Estado, dtype: int64

In [33]:
df_nan['Cidade'].value_counts().head(10)

São Paulo                220342
Praia Grande              34164
Porto Alegre              34031
Rio de Janeiro            29040
Santo André               23791
Belo Horizonte            16171
Sorocaba                  13284
São Bernardo do Campo     12508
Campinas                  12462
Santos                    11287
Name: Cidade, dtype: int64

# observações 

Com a eliminação total dos registros de valores `NaN` percebe-se, com os valores acima, que os maiores registros 
preenchidos de forma completa pertencem a região sudeste. 

Outro ponto importante seria com relação ao número de registros. O Dataset original possui mais de 850.000 registros.

Neste notebook consideramos duas alternativas que nos permitem trabalhar com um maior número de registros:

Análise A - linha 22

    Eliminar a coluna Bairro que apresenta muitos valores em branco ou nulos, pois trabalharemos com preço por Município.
    
    Eliminação total de valores `NaN` reduzindo o dataset para pouco mais de 350.000  registros.

Análise B - linha 22 e linha 23

    Eliminar a coluna Bairro que apresenta muitos valores em branco ou nulos , pois trabalharemos com preço por Município.
    Eliminar as 2 colunas price_usd_per_m2, price_per_m2, uma vez que calcularemos o preço por m2 mais adiante no estudo.
    A coluna rooms pelo alto número de valores nulos também pode ser eliminada.
    
    Eliminação total de valores `NaN` reduzindo o dataset para pouco mais de 597.000 registros.

In [35]:
# Para manter o estudo organizado, será criado MAIS um outro arquivo csv
# para trabalhar o dataframe sem missing values.

df_nan.to_csv('df_nan.csv', index=False, sep= ',', encoding='utf-8')

In [36]:
df_nan.shape

(597060, 9)